.header{   
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    @media screen  and (max-width: 760px) {
      flex-direction: column;
      //align-items: right;
      //margin:0 0 1em 1em;
      }

   &__logo{
    @media screen  and (min-width: 760px) {
      flex-direction: column;
      //margin:0 0 1em 1em;
      }
  }
  &__logo:hover{
    transform: rotate(360deg);
    transition-duration: 2s;
  }
  // &__i18n{
  //   width: 100%;
  //   height: 100%;
  // }
 
  // &__i18n{
  //   @media screen  and (max-width: 760px) {
  //     display: flex;
  //     justify-content: space-between;
  //     //align-items: flex-end;
  //     }
  // }
 

}