.message{
    background-color: transparent;
    width: 350px;
    height: 35px;
    margin: 0 auto;
    margin-bottom: 25px;
    border-radius: 30%;
    //padding: 15px 30px 30px 15px;
    
    h6{
        
        font-size: 32px;
        //padding: 40px 20px 50px 20px;
        font-family: 'Caveat', cursive;
        color: white;
        
    }
    
}
